body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,62,193,0.03);
}

.app-container {
  box-shadow: 0;
  border: 1px solid rgba(153,153,153,0.2);
  border-radius:6px;
  background-Color:rgb(255 255 255);
  padding:15px;

}

.char-container {
  max-height: 400px;
}

@media only screen and (min-width: 900px) {
  .app-container {
    padding-left: 200px;
  }
  .btnMenu {
    display: none ;
  }
  .App {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 899px) {
  .app-container {
    /* margin: 30px 0 0 0 !important; */
    height: 100%  !important;
    border:none !important;
    border-radius: 0;
  }
  .btnMenu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  body {
    background-color: #fff;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #fff !important;
  color : #3c3c3a  !important;
  box-shadow : none  !important;
  transition: all 0.3s linear;
  box-shadow : 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%)  !important;
}

.navbar.scrolled {
  background-color:#FFF  !important;
  color : #3c3c3a  !important;
}

.logo {
  height: 60px;
  transition: all 0.1s linear;
}

.logo.scrolled {
  height: 50px;
}

.bandeau {
  /* background:center no-repeat url("automne.jpg") #100200; */
  min-height: 300px;
  z-index: 0;
}
h1 {
  color: #282F36;
}